<!DOCTYPE html>
<html>
<link rel="stylesheet" href="css/style.css">
<link rel="icon" href="https://www.google.com/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="https://www.google.com/favicon.ico" type="image/x-icon" />
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPUH2zdJ7VZ8Fm6npdKci5F1sGEzy-GiY&callback=initMap">
</script>
<head>
  <title>StudentMaps | Find your way!</title>
  </head>
<body>
